.config/libreoffice
.config/htop
.config/Mousepad
.config/lite
.config/libfm
.config/gzdoom
.config/discord
.config/google-chrome
.config/aacs
.config/catfish
.config/pulse
.config/package-update-indicator
.config/GIMP
.config/dconf
.config/cef_user_data
.config/clipit
.config/Code
.config/xfce4
.config/ibus
.config/Thunar
*.backup
